Checks: >
  -*,
  bugprone-*,
  cert-dcl21-cpp,
  cert-dcl50-cpp,
  cert-err52-cpp,
  cert-err60-cpp,
  cppcoreguidelines-*,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  google-runtime-operator,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-bind,
  -readability-named-parameter,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value: 1
  - key: readability-function-cognitive-complexity.DescribeBasicIncrements
    value: 1
FormatStyle: 'none'
