Checks: >
  -*,
  bugprone-*,
  cert-dcl21-cpp,
  cert-dcl50-cpp,
  cert-err52-cpp,
  cert-err60-cpp,
  cppcoreguidelines-*,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  google-runtime-operator,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-bind,
  -modernize-pass-by-value,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters,
CheckOptions:
  - key: readability-function-cognitive-complexity.DescribeBasicIncrements
    value: 1
FormatStyle: 'none'
